= turbo_frame_tag :company_dashboard do
  %canvas{data:{controller:"dashboard","dashboard-title-value": "Empresas Cadastradas por Mês", "dashboard-y-value": @companies_per_month , "dashboard-x-value": @months, "dashboard-target":"canvas" }}