= turbo_frame_tag :user_dashboard do
  %canvas{data:{controller:"dashboard","dashboard-title-value": "Usuários Cadastrados", "dashboard-y-value": @users_per_month , "dashboard-x-value": @months, "dashboard-target":"canvas" }}