%div{:style => "background-image: url(#{asset_path 'welcomepage1.png'});
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 7%;
  padding-top: 10%;
  padding-right: 43%;
  padding-bottom: 1%;
  height: 100vh;
  background-size: cover;"}
  %div{"data-aos" => "fade-left", "data-aos-duration" => "1000"}
    %h1{:style => "font-family: 'Roboto Black';font-weight: bold;font-size: 72px;width: 80%;word-spacing: 1px"}

      Bem-vindo ao nosso Sistema de Gerenciamento de Notas Fiscais!
    %p{:style => "font-family: 'Roboto Black';width: 80%;font-size: 20px;margin-top: 30px;"}
      Estamos encantados em tê-lo aqui. Nossa plataforma de fácil utilização foi projetada para otimizar e simplificar o processo de gerenciamento de suas faturas do MEI. Com nossos recursos poderosos e interface intuitiva, você pode lidar eficientemente com toda a sua documentação financeira.
    %button.btn.btn-danger{:style => "margin-top: 30px;height:70px;width: 200px; font-size: 22px"} Read More
