%div{:style => "background-image: url(#{asset_path 'welcomepage1.png'});
  background-repeat: no-repeat;
  width: 100%;
  padding-right: 50%;
  padding-top: 13%;
  padding-left: 4%;
  padding-bottom: 1%;
  height: 100vh;
  background-size: cover;"}
  %div{"data-aos" => "fade-left", "data-aos-duration" => "1000"}
    %h1{:style => "font-family: 'Roboto Black';font-weight: bold;font-size: 72px;width: 80%;word-spacing: 1px"}
      Welcome to
      the best Document Manager
    %p{:style => "font-family: 'Roboto Black';width: 80%;font-size: 20px;margin-top: 30px;"}
      DocuManage is a cutting-edge software designed to simplify the document management process for businesses of all sizes. Whether you are a small startup or a large corporation, DocuManage can help streamline your document workflow and improve your overall efficiency.


    %button.btn.btn-primary{:style => "margin-top: 30px;height:70px;width: 200px; font-size: 22px"} Read More
