
%table.table
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Name
      %th{:scope => "col"} Price (R$)
      %th{:scope => "col"} Quantity

  %tbody
    - products.each do |product|
      %tr
        %td
          =product.id

        %td
          =product.name

        %td
          =product.price
          R$

        %td
          =product.quantity





