= simple_form_for :q, src: location, method: :get, defaults: {required:false} do |f|
  .d-flex.align-items-baseline
    = f.input :search, input_html:{name: :search, value: params[:search] || "" }, label: "Pesquisar..."
    = f.submit "Pesquisar", class:"btn btn-secondary"